<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/chota@latest">
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div id="top" class="container" role="document">
            <header role="banner">
                <h1>Embeedings Oceanix API</h1>
                <p>Ejemplos de la API</p>
            </header>
            <main role="main">
                <section id="text">
                    {% block content %}{% endblock %}
                </section>
            </main>
        </div>
    </body>
</html> 
