{% extends "_default.html" %}
{% block scripts %}
<style type="text/css">
#embedding-space {
  flex: 1;
  text-align: left;
  width: 100%;
  height: 100%;
}

#embedding-space > .sample {
  position: absolute;
}
</style>
{% endblock %}

{% block content %}
	<div class="row">
	<div class="col-12 is-text-center">
        <h1>Embeddings año {{year}}</h1>
    </div>
    </div>
    <form action="/demo/embeddings/{{year}}" method="get" >
    <div class="row">
	<div class="col-12">
        <p>
            <label>¿Qué términos quieres buscar?</label>
            <input type="text" value="{{' '.join(terms)}}" name="q">
        </p>
        <button class="button primary">Buscar</button>
 	</div>
 	</div>
    </form>

	<div class="row">
	<div class="col-6">
	  <div class="row">
	  <div class="col-12">
      <div id="control-panel">
        <div class="param">
          <label for="param-perplexity">Perplexity</label>
          <input id="param-perplexity" type="range" min="5" max="50" value="15", step="1">
          <output for="param-perplexity" id="param-perplexity-value">15</output>
        </div>
        <div class="param">
          <label for="param-earlyexag">Early Exaggeration</label>
          <input id="param-earlyexag" type="range" min="1.1" max="10.0" value="2.1", step="0.1">
          <output for="param-earlyexag" id="param-earlyexag-value">2.1</output>
        </div>
        <div class="param">
          <label for="param-learningrate">Learning Rate</label>
          <input id="param-learningrate" type="range" min="1" max="1000" value="180", step="1">
          <output for="param-learningrate" id="param-learningrate-value">180</output>
        </div>
        <div class="param">
          <label for="param-maxiter">Max Iterations</label>
          <input id="param-maxiter" type="range" min="100" max="500" value="150", step="10">
          <output for="param-maxiter" id="param-maxiter-value">150</output>
        </div>
        <div class="param">
          <label for="param-distance">Distance Metric</label>
          <select id="param-distance" name="param-distance">
            <option value="euclidean" selected>Euclidean distance</option>
            <option value="manhattan">Manhattan distance</option>
            <option value="jaccard">Jaccard dissimilarity</option>
            <option value="dice">Dice dissimilarity</option>
          </select>
          <output for="param-distance" id="param-distance-value"></output>
        </div>
      </div>
      </div>
      </div>
	  <div class="row">
	  <div class="col-12 is-center">
        <a class="button primary" id="run-button">Run</a>
      </div>
      </div>
	  <div class="row">
	  <div class="col-12">
		<div class="card">
        <div id="progress">
          <div><strong>Click Run button to begin</strong></div>
          <div>Iteration: <span id="progress-iter"></span></div>
          <div>Error: <span id="progress-error"></span></div>
          <div>Gradient vector norm: <span id="progress-gradnorm"></span></div>
        </div>
        </div>
      </div>
      </div>
      </div>
	  <div style="background-color:#000;" class="col-6">
      <div id="embedding-space" data-sr="fade in over 5s"></div>
      </div>
    </div>
    </div>
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="/demo/static/tsne.min.js"></script>
  <script>
    'use strict';

    var worker;
    var N_SAMPLES;
    var SAMPLE_DATA;

    function init () {
      worker = new Worker('/demo/static/worker.js');
      worker.onmessage = function (e) {
        var msg = e.data;

        switch (msg.type) {
          case 'PROGRESS_STATUS':
            $('#progress-status').text(msg.data);
            break;
          case 'PROGRESS_ITER':
            $('#progress-iter').text(msg.data[0] + 1);
            $('#progress-error').text(msg.data[1].toPrecision(7));
            $('#progress-gradnorm').text(msg.data[2].toPrecision(5));
            break;
          case 'PROGRESS_DATA':
            drawUpdate(msg.data);
            break;
          case 'STATUS':
            if (msg.data === 'READY') {
              $('#run-button').bind('click', run);
            } else {
              $('#run-button').unbind('click', run);
            }
            break;
          case 'DONE':
            drawUpdate(msg.data);
            break;
          default:
        }
      }

      N_SAMPLES = 0;
      draw(0);

    }

    function draw (num) {

      function _draw(samples) {

        var sampleData = samples.embeddings;
        var sampleLabels = samples.terms;

        worker.postMessage({
          type: 'INPUT_DATA',
          data: sampleData
        });

        $('#embedding-space').empty();
        var embeddingSpace = document.getElementById('embedding-space');
        for (var n = 0; n < sampleData.length; n++) {
          var c = document.createElement('canvas');
          c.setAttribute('class', 'sample');
          c.setAttribute('id', `sample-${n}`);
          c.setAttribute('width', 120);
          c.setAttribute('height', 28);
          embeddingSpace.appendChild(c);
          var ctx = c.getContext('2d');
		  ctx.font = "18px Comic Sans MS";
		  ctx.fillStyle = "white";
		  ctx.textAlign = "center";
			ctx.fillText(sampleLabels[n], c.width/2, c.height/2); 
          c.style.transform = `translateX(${Math.random() * (embeddingSpace.clientWidth - 120)}px) translateY(${Math.random() * (embeddingSpace.clientHeight - 14)}px)`;
        }
      }

      if (SAMPLE_DATA) {
        _draw(SAMPLE_DATA);
      } else {
          $.getJSON('{{api_url}}/embeddings/{{year}}?q={{" ".join(terms)}}', function (samples) {
          SAMPLE_DATA = samples;
          N_SAMPLES = samples.terms.length;
          _draw(SAMPLE_DATA);
        });
      }
    }

    function run () {
      worker.postMessage({
        type: 'RUN',
        data: {
          perplexity: parseInt($('#param-perplexity').val(), 10),
          earlyExaggeration: parseFloat($('#param-earlyexag').val()),
          learningRate: parseInt($('#param-learningrate').val(), 10),
          nIter: parseInt($('#param-maxiter').val(), 10),
          metric: $('#param-distance').val()
        }
      });
    }

    function drawUpdate (embedding) {
      var embeddingSpace = document.getElementById('embedding-space');
      var embeddingSpaceWidth = embeddingSpace.clientWidth;
      var embeddingSpaceHeight = embeddingSpace.clientHeight;
      for (var n = 0; n < N_SAMPLES; n++) {
        var c = document.getElementById(`sample-${n}`);
        c.style.transform = `translateX(${(embedding[n][0] + 1) * (embeddingSpaceWidth / 2 - 60)}px) translateY(${(embedding[n][1] + 1) * (embeddingSpaceHeight / 2 - 14)}px)`;
      }
    }

    // form controls
    $('#param-perplexity').bind('input', function () { $('#param-perplexity-value').text($('#param-perplexity').val()); });
    $('#param-earlyexag').bind('input', function () { $('#param-earlyexag-value').text($('#param-earlyexag').val()); });
    $('#param-learningrate').bind('input', function () { $('#param-learningrate-value').text($('#param-learningrate').val()); });
    $('#param-maxiter').bind('input', function () { $('#param-maxiter-value').text($('#param-maxiter').val()); });


  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/2.3.2/scrollReveal.min.js"></script>
  <script>
    (function() {
      window.sr= new scrollReveal({
        reset: true,
        mobile: true,
        vFactor: 0.2
      });
    })();
	window.onload=init();
  </script>

{% endblock %}



