{% extends "_default.html" %}
{% block content %}
    <h1>Visualizaciones</h1>

    <ul>
        <li>Embeddings aleatorios por año, ejemplo: <a href="/demo/random_embeddings/1850">1850</a> y <a href="/demo/random_embeddings/1900">1900</a></li>
        <li>Embeddings de <em>juarez</em>, <em>maximiliano</em> y <em>carlota</em>, ejemplo: <a href="/demo/embeddings/1864?q=juarez maximiliano carlota">1864</a> y <a href="/demo/embeddings/1900?q=juarez maximiliano carlota">1900</a></li>
        <li>Red de <em>juarez</em>, <em>maximiliano</em> y <em>carlota</em> ejemplo: <a href="/demo/network/1864?q=juarez maximiliano carlota">1864</a> y <a href="/demo/network/1900?q=juarez maximiliano carlota">1900</a></li>
        <li>Redes de <em>juarez</em>, <em>maximiliano</em> y <em>carlota</em>, ejemplos de 1850 a 1900: <a href="/demo/networks/1850/1900?q=juarez maximiliano carlota">aquí</a></li>
        <li>Redes aggredadas de <em>juarez</em>, <em>maximiliano</em> y <em>carlota</em>, ejemplos de 1850 a 1900: <a href="/demo/networks_aggregate/1850/1900?q=juarez maximiliano carlota">aquí</a></li>
        <li>Stream de <em>juarez</em>, <em>maximiliano</em> y <em>carlota</em>, ejemplos de 1850 a 1900: <a href="/demo/stream/1850/1900?q=juarez maximiliano carlota">aquí</a></li>
    </ul>
{% endblock %}
