{% extends "_default.html" %}
{% block scripts %}
	<style type="text/css">
    #mynetwork {
      width: 100%;
      height: 600px;
      border: 1px solid lightgray;
    }
  </style>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" media="screen">
{% endblock %}

{% block content %}
	<div class="row">
	<div class="col-12 is-text-center">
        <h1>Red año {{year}}</h1>
        {%if terms %}<h3>Palabras búscadas: {{", ".join(terms)}} </h3>{%endif%}
    </div>
    </div>
	
    <form action="/demo/network/{{year}}" method="get" >
    <div class="row">
	<div class="col-6">
        <p>
            <label>¿Qué términos quieres buscar?</label>
            <input type="text" value="{{' '.join(terms)}}" name="q">
        </p>
        <button class="button primary">Buscar</button>
 	</div>
	<div class="col-6">
        <p>
            <label>¿Qué año buscar?</label>
            <input type="text" value="{{year}}" name='year'>
        </p>
 	</div>
    </div>
    </form>

	<div class="row">
	<div class="col-12 is-text-center">
	<div id="mynetwork" class="is-center"></div>
 	</div>
    </div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<script type="text/javascript">
  var network = {'nodes':[], 'edges':[]};
  $.getJSON('{{api_url}}/network/{{year}}?q={{" ".join(terms)}}', function (data) {
	network=data;
	// transform the object into an array
    redrawAll();
  });
  var allNodes;
  var highlightActive = false;

  var nodesDataset = new vis.DataSet(network.nodes); // these come from WorldCup2014.js
  var edgesDataset = new vis.DataSet(network.edges); // these come from WorldCup2014.js

  function redrawAll() {
    var container = document.getElementById('mynetwork');
    var options = {
      nodes: {
        shape: 'dot',
        scaling: {
          min: 10,
          max: 15,
          label: {
            min: 3,
            max: 15,
            drawThreshold: 3,
            maxVisible: 15
          }
        },
        font: {
          size: 12,
          face: 'Tahoma'
        }
      },
      edges: {
        width: 0.15,
        color: {inherit: 'from'},
        smooth: {
          type: 'continuous'
        }
      },
	  physics: {
    	"minVelocity": 0.75
  	  },
      interaction: {
        tooltipDelay: 200,
        hideEdgesOnDrag: true
      }
    };

    console.log(network);
    network = new vis.Network(container, network, options);

    // get a JSON object
    allNodes = nodesDataset.get({returnType:"Object"});

    network.on("click",neighbourhoodHighlight);
  }

  function neighbourhoodHighlight(params) {
    // if something is selected:
    if (params.nodes.length > 0) {
      highlightActive = true;
      var i,j;
      var selectedNode = params.nodes[0];
      var degrees = 2;

      // mark all nodes as hard to read.
      for (var nodeId in allNodes) {
        allNodes[nodeId].color = 'rgba(200,200,200,0.5)';
        if (allNodes[nodeId].hiddenLabel === undefined) {
          allNodes[nodeId].hiddenLabel = allNodes[nodeId].label;
          allNodes[nodeId].label = undefined;
        }
      }
      var connectedNodes = network.getConnectedNodes(selectedNode);
      var allConnectedNodes = [];

      // get the second degree nodes
      for (i = 1; i < degrees; i++) {
        for (j = 0; j < connectedNodes.length; j++) {
          allConnectedNodes = allConnectedNodes.concat(network.getConnectedNodes(connectedNodes[j]));
        }
      }

      // all second degree nodes get a different color and their label back
      for (i = 0; i < allConnectedNodes.length; i++) {
        allNodes[allConnectedNodes[i]].color = 'rgba(150,150,150,0.75)';
        if (allNodes[allConnectedNodes[i]].hiddenLabel !== undefined) {
          allNodes[allConnectedNodes[i]].label = allNodes[allConnectedNodes[i]].hiddenLabel;
          allNodes[allConnectedNodes[i]].hiddenLabel = undefined;
        }
      }

      // all first degree nodes get their own color and their label back
      for (i = 0; i < connectedNodes.length; i++) {
        allNodes[connectedNodes[i]].color = undefined;
        if (allNodes[connectedNodes[i]].hiddenLabel !== undefined) {
          allNodes[connectedNodes[i]].label = allNodes[connectedNodes[i]].hiddenLabel;
          allNodes[connectedNodes[i]].hiddenLabel = undefined;
        }
      }

      // the main node gets its own color and its label back.
      allNodes[selectedNode].color = undefined;
      if (allNodes[selectedNode].hiddenLabel !== undefined) {
        allNodes[selectedNode].label = allNodes[selectedNode].hiddenLabel;
        allNodes[selectedNode].hiddenLabel = undefined;
      }
    }
    else if (highlightActive === true) {
      // reset all nodes
      for (var nodeId in allNodes) {
        allNodes[nodeId].color = undefined;
        if (allNodes[nodeId].hiddenLabel !== undefined) {
          allNodes[nodeId].label = allNodes[nodeId].hiddenLabel;
          allNodes[nodeId].hiddenLabel = undefined;
        }
      }
      highlightActive = false
    }

   }
  </script>  

{% endblock %}



