{% extends "_default.html" %}
{% block scripts %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" media="screen">
	<style type="text/css">
    .mynetwork {
      width: 100%;
      height: 600px;
      border: 1px solid lightgray;
    }

    .canvas { position: absolute; top: 0; left: 0; }
    </style>

{% endblock %}

{% block content %}
	<div class="row">
	<div class="col-12 is-text-center">
        <h1>Redes {{ini_year}} a {{fin_year}}</h1>
        {%if terms %}<h3>Palabras búscadas: {{", ".join(terms)}} </h3>{%endif%}
    </div>
    </div>
	
    <form action="/demo/{{url}}/{{ini_year}}/{{fin_year}}" method="get" >
 	<fieldset id="forms__checkbox">
    <legend>Términos de búsqueda</legend>
    <div class="row">
	<div class="col-12">
        <p>
            <label>¿Qué términos quieres buscar?</label>
            <input type="text" value="{{' '.join(terms)}}" name="q">
        </p>
		
        <label><input id="adaptive" name="adaptive" type="checkbox" {% if adaptive %}checked="checked"{%endif%}>Agregar términos semilla</label>


 	</div>
 	</div>
    </fieldset>
 	<fieldset id="forms__checkbox">
    <legend>Control de periodo</legend>
    <div class="row">
	<div class="col-6">
        <p>
            <label>¿De qué año?</label>
            <input type="text" value="{{ini_year}}" name='ini_year'>
        </p>
 	</div>
	<div class="col-6">
        <p>
            <label>¿A qué año?</label>
            <input type="text" value="{{fin_year}}" name='fin_year'>
        </p>
 	</div>
    </div>
    </fieldset>

    {% if url=="networks_aggregate" %}
	<fieldset id="forms__checkbox">
    <legend>Control de pesado en consolidación</legend>
   <div class="row">
	<div class="col-6">
        <p>
            <label>Consolidar # años anterior</label>
            <input type="text" value="{{win_size_prev}}" name='win_size_prev'>
        </p>
 	</div>
	<div class="col-6">
        <p>
            <label>Consolidar # años después</label>
            <input type="text" value="{{win_size_next}}" name='win_size_next'>
        </p>
 	</div>
    </div>
   <div class="row">
	<div class="col-6">
        <p>
            <label>Pesado de palabras términos</label>
            <select name="smoothing" id="select">
            <optgroup label="Pesado">
                <option value="linear" {%if smoothing=='linear'%}selected{%endif%}>Linear</option>
                <option value="gauss" {%if smoothing=='gauss'%}selected{%endif%}>Gaussiana</option>
            </optgroup>
            </select>
        </p>
 	</div>
	<div class="col-6">
        <p>
            <label>Pesado por defecto palabras semillas</label>
            <input type="text" value="{{word_boost}}" name='word_boost'>
        </p>
 	</div>
    </div>
	</fieldset>
    {% endif %}

 	<fieldset id="forms__checkbox">
    <legend>Control de la red</legend>
    <div class="row">
	<div class="col-6">
        <p>
            <label>Número máximo de posible términos por nodo</label>
            <input type="text" value="{{top_related}}" name='top_related'>
        </p>
 	</div>
	<div class="col-6">
        <p>
            <label>Máximo número de links en red</label>
            <input type="text" value="{{max_links}}" name='max_links'>
        </p>
 	</div>
   </div>
	</fieldset>

 	<fieldset id="forms__checkbox">
    <legend>Control de version adaptativa</legend>
    <div class="row">
	<div class="col-6">
        <p>
            <label>Número máximo de posible de nuevos términos</label>
            <input type="text" value="{{max_adaptive_terms}}" name='max_adaptive_terms'>
        </p>
 	</div>
	<div class="col-6">
        <p>
            <label>Similitud mínima</label>
            <input type="text" value="{{min_sim_adaptive}}" name='min_sim_adaptive'>
        </p>
 	</div>
   </div>
	</fieldset>


    <div class="row">
	<div class="col-12">
    <button class="button primary">Calcular</button>
    </div>
    </div>
    </form>

    <div class="row">
	<div class="col-12">
        <label>Selecciona el año</label>
        <input id="year_select" type="range" min="{{ini_year}}" max="{{fin_year}}" value="{{ini_year}}" step="1" oninput="changeNetwork(this.value)">
    </div>
  
    <div class="row">
	<div class="col-12">
        <h3 id="year_label"></h3>
	<div class="is-text-centered" id="mynetworks" class="is-center"></div>
    <a class="button outline primary" id="button_embeddings" target="_blank">Ir a embeddings</a>
    </div>
    </div>
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<script type="text/javascript">
  var networks = [];
  var network = {'nodes':[],'edges':[]};
  {%if args %}
  var url="{{api_url}}/{{url}}/{{ini_year}}/{{fin_year}}?{{args}}"
  {%else%}
  var url="{{api_url}}/{{url}}/{{ini_year}}/{{fin_year}}"
  {%endif%}
  $.getJSON(url, function (data) {
	networks=data;
    network=networks.networks[0];
      redrawAll(network);
  });
  var allNodes;
  var highlightActive = false;

  var nodesDataset = new vis.DataSet(network.nodes); // these come from WorldCup2014.js
  var edgesDataset = new vis.DataSet(network.edges); // these come from WorldCup2014.js

  function changeNetwork(year) {
    document.getElementById("year_label").innerHTML=year; 
    network=networks.networks[year-{{ini_year}}];
    redrawAll(network);
  }
  function redrawAll(network) {
    var container = document.createElement("div");                 // Create a <li> node
    container.classList.add("mynetwork");
    var maincontainer = document.getElementById("mynetworks"); 
      if(maincontainer.childElementCount>0){
        maincontainer.removeChild(maincontainer.childNodes[0])
    }
    document.getElementById("year_label").innerHTML=network.title; 
    maincontainer.appendChild(container); 

    var options = {
      width: '100%',
      nodes: {
        shape: 'dot',
        scaling: {
          min: 10,
          max: 15,
          label: {
            min: 3,
            max: 15,
            drawThreshold: 3,
            maxVisible: 15
          }
        },
        font: {
          size: 12,
          face: 'Tahoma'
        }
      },
      edges: {
        width: 0.15,
        color: {inherit: 'from'},
        smooth: {
          type: 'continuous'
        }
      },
	  physics: {
    	"minVelocity": 0.75
  	  },
      interaction: {
        tooltipDelay: 200,
        hideEdgesOnDrag: true
      }
    };

    var terms_=[];
    for(term_ in network.nodes){
        terms_.push(network.nodes[term_].label);
    }

      document.getElementById("button_embeddings").href="/embeddings/"+network.title+"?q="+terms_.join(" ");
    network = new vis.Network(container, network, options);

    network.on("click",neighbourhoodHighlight);
  }

  function neighbourhoodHighlight(params) {
    // if something is selected:
    if (params.nodes.length > 0) {
      highlightActive = true;
      var i,j;
      var selectedNode = params.nodes[0];
      var degrees = 2;

      // mark all nodes as hard to read.
      for (var nodeId in allNodes) {
        allNodes[nodeId].color = 'rgba(200,200,200,0.5)';
        if (allNodes[nodeId].hiddenLabel === undefined) {
          allNodes[nodeId].hiddenLabel = allNodes[nodeId].label;
          allNodes[nodeId].label = undefined;
        }
      }
      var connectedNodes = network.getConnectedNodes(selectedNode);
      var allConnectedNodes = [];

      // get the second degree nodes
      for (i = 1; i < degrees; i++) {
        for (j = 0; j < connectedNodes.length; j++) {
          allConnectedNodes = allConnectedNodes.concat(network.getConnectedNodes(connectedNodes[j]));
        }
      }

      // all second degree nodes get a different color and their label back
      for (i = 0; i < allConnectedNodes.length; i++) {
        allNodes[allConnectedNodes[i]].color = 'rgba(150,150,150,0.75)';
        if (allNodes[allConnectedNodes[i]].hiddenLabel !== undefined) {
          allNodes[allConnectedNodes[i]].label = allNodes[allConnectedNodes[i]].hiddenLabel;
          allNodes[allConnectedNodes[i]].hiddenLabel = undefined;
        }
      }

      // all first degree nodes get their own color and their label back
      for (i = 0; i < connectedNodes.length; i++) {
        allNodes[connectedNodes[i]].color = undefined;
        if (allNodes[connectedNodes[i]].hiddenLabel !== undefined) {
          allNodes[connectedNodes[i]].label = allNodes[connectedNodes[i]].hiddenLabel;
          allNodes[connectedNodes[i]].hiddenLabel = undefined;
        }
      }

      // the main node gets its own color and its label back.
      allNodes[selectedNode].color = undefined;
      if (allNodes[selectedNode].hiddenLabel !== undefined) {
        allNodes[selectedNode].label = allNodes[selectedNode].hiddenLabel;
        allNodes[selectedNode].hiddenLabel = undefined;
      }
    }
    else if (highlightActive === true) {
      // reset all nodes
      for (var nodeId in allNodes) {
        allNodes[nodeId].color = undefined;
        if (allNodes[nodeId].hiddenLabel !== undefined) {
          allNodes[nodeId].label = allNodes[nodeId].hiddenLabel;
          allNodes[nodeId].hiddenLabel = undefined;
        }
      }
      highlightActive = false
    }

   }
  </script>  

{% endblock %}



