{% extends "_default.html" %}
{% block scripts %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" media="screen">
	<style type="text/css">
    .mystream {
      width: 100%;
      height: 600px;
      border: 1px solid lightgray;
    }
    </style>

{% endblock %}

{% block content %}
	<div class="row">
	<div class="col-12 is-text-center">
        <h1>Stream {{ini_year}} a {{fin_year}}</h1>
        {%if terms %}<h3>Palabras búscadas: {{", ".join(terms)}} </h3>{%endif%}
    </div>
    </div>
	
    <form action="/demo/stream/{{ini_year}}/{{fin_year}}" method="get" >
  	<fieldset id="forms__checkbox">
    <legend>Términos de búsqueda</legend>
    <div class="row">
	<div class="col-12">
        <p>
            <label>¿Qué términos quieres buscar?</label>
            <input type="text" value="{{' '.join(terms)}}" name="q">
        </p>
		

        <label><input id="only_seed" name="only_seed" type="checkbox" {% if only_seed %}checked="checked"{%endif%}>Seguir sólo términos</label>
        <label><input id="adaptive" name="adaptive" type="checkbox" {% if adaptive %}checked="checked"{%endif%}>Agregar términos semilla</label>


 	</div>
 	</div>
    </fieldset>
 	<fieldset id="forms__checkbox">
    <legend>Control de periodo</legend>
    <div class="row">
	<div class="col-6">
        <p>
            <label>¿De qué año?</label>
            <input type="text" value="{{ini_year}}" name='ini_year'>
        </p>
 	</div>
	<div class="col-6">
        <p>
            <label>¿A qué año?</label>
            <input type="text" value="{{fin_year}}" name='fin_year'>
        </p>
 	</div>
    </div>
    </fieldset>

	<fieldset id="forms__checkbox">
    <legend>Control de pesado en consolidación</legend>
   <div class="row">
	<div class="col-6">
        <p>
            <label>Consolidar # años anterior</label>
            <input type="text" value="{{win_size_prev}}" name='win_size_prev'>
        </p>
 	</div>
	<div class="col-6">
        <p>
            <label>Consolidar # años después</label>
            <input type="text" value="{{win_size_next}}" name='win_size_next'>
        </p>
 	</div>
    </div>
   <div class="row">
	<div class="col-6">
        <p>
            <label>Pesado de palabras términos</label>
            <select name="smoothing" id="select">
            <optgroup label="Pesado">
                <option value="linear" {%if smoothing=='linear'%}selected{%endif%}>Linear</option>
                <option value="gauss" {%if smoothing=='gauss'%}selected{%endif%}>Gaussiana</option>
            </optgroup>
            </select>
        </p>
 	</div>
	<div class="col-6">
        <p>
            <label>Pesado por defecto palabras semillas</label>
            <input type="text" value="{{word_boost}}" name='word_boost'>
        </p>
 	</div>
    </div>
  

	</fieldset>

 	<fieldset id="forms__checkbox">
    <legend>Control de la red</legend>
    <div class="row">
	<div class="col-6">
        <p>
            <label>Número máximo de posible términos por nodo</label>
            <input type="text" value="{{top_related}}" name='top_related'>
        </p>
 	</div>
	<div class="col-6">
        <p>
            <label>Máximo número de links en red</label>
            <input type="text" value="{{max_links}}" name='max_links'>
        </p>
 	</div>
   </div>
	</fieldset>

 	<fieldset id="forms__checkbox">
    <legend>Control de version adaptativa</legend>
    <div class="row">
	<div class="col-6">
        <p>
            <label>Número máximo de posible de nuevos términos</label>
            <input type="text" value="{{max_adaptive_terms}}" name='max_adaptive_terms'>
        </p>
 	</div>
	<div class="col-6">
        <p>
            <label>Similitud mínima</label>
            <input type="text" value="{{min_sim_adaptive}}" name='min_sim_adaptive'>
        </p>
 	</div>
   </div>
	</fieldset>

    <div class="row">
	<div class="col-12">
    <button class="button primary">Generar</button>
    </div>
    </div>
    </form>

    <div class="row">
	<div class="col-12">
	<canvas id="mystream"></canvas>
    <a class="button outline primary" id="button_embeddings" href="/networks_aggregate/{{ini_year}}/{{fin_year}}?{{args}}"target="_blank">Ir a red aggregada</a>
    </div>
    </div>
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript">
	var dynamicColors = function() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    };
	
  {%if args %}
    var url="{{api_url}}/stream/{{ini_year}}/{{fin_year}}?{{args}}";
  {%else%}
    var url="{{api_url}}/stream/{{ini_year}}/{{fin_year}}";
  {%endif%}
  $.getJSON(url, function (data) {
    var labels=data.years;  
	var datasets=data.stream;
	var datasets_=[];
	var dataset;
	for(i in datasets){
		dataset=datasets[i];
		var data={}
		data.label=dataset.dataset_label;
		data.data=dataset.dataset_values;
		data.backgroundColor=dynamicColors();
		datasets_.push(data); 
	}
	var config = {
		type: 'line',
		data: {
			labels: labels,
			datasets: datasets_,
			}, 
		options: {
			responsive: true,
			title: {
				display: false,
			},
			tooltips: {
				mode: 'nearest',
			},
			hover: {
				mode: 'nearest'
			},
			legend: {
                display: datasets_.length < 100 ? true : false,
         	},
			scales: {
				xAxes: [{
					scaleLabel: {
						display: true,
						labelString: 'Año'
					}
				}],
				yAxes: [{
					stacked: true,
					scaleLabel: {
						display: true,
						labelString: 'Peso acumulado'
					}
				}]
			}
		}
	};

		var ctx = document.getElementById('mystream').getContext('2d');
	window.myLine = new Chart(ctx, config);

   });

</script>  

{% endblock %}



